<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">	
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="/home">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/team">Team</a>
	  </li>
	</ul>
</nav>
</header>


<body class="mx-auto" style="width: 400px;">
<h1>Page de contact des gros lourdeaux</h1>

</br>
<p>Mail : Tu n'envoies pas de mail aux gens qui ne veulent pas te parler</p>

<p>Téléphone : On ne veut pas te parler</p>
</body>
</html>