<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">	
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="/home">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/team">Team</a>
	  </li>
	</ul>
</nav>
</header>

<body class="mx-auto" style="width: 400px;">
<h1 class = "BLA">Super Gossip n°<%= @individual.id %></h1>
<br />
<p><%= @individual.created_at %></p>
<p><%= @individual.content %></br></br> Auteur : <%= @individual.author %></p>
</body>