<html>

	<body class="mx-auto" style="width: 400px;">
		<h1>Bienvenu sur The Gossip Project !!</h1>
        <p>Pour en voir plus, ajoute ton prénom ci-dessous : </p>

        <form action = "home" method="POST" >
        	<input type="hidden" name="authenticity_token" 
        	value="<%= form_authenticity_token %>">
        	<input type="text" name="first_name">
        	<input type="submit" name="Envoyer">	
        </form>


	</body>
</html>