<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">	
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/team">Team</a>
	  </li>
	</ul>
</nav>
</header>

<body class="mx-auto" style="width: 400px;">
<h1 class = "BLA">TEAM</h1>
<p>Surfistas de domingo - Paulinouille, Irinouille, Margouille, Helenouille, Maxouille et Victouille</p>

<p>Samouille vous dit bonjour du Portugal :

<img src="https://nsa39.casimages.com/img/2018/10/30/181030112402974213.png" alt="Sam & Cochonou">
</p>
</body>
</html>
